/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.footer{
    background-color: #007b5e;
}
.link{
    margin-top: 10px;
    margin-left: 2px;
}
.contact-link {
    color: black;
    text-decoration: none; /* Supprime le soulignement */
  }
  
  .contact-link:hover {
    color: #333; /* Optionnel : couleur au survol */
  }
  .row{
    width: 100%;
  }
.row h5,a,p{
    margin-left: 10px;
}