.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-top: -50px;
    background: linear-gradient(90deg, rgba(132, 250, 176, 0.1), rgba(143, 211, 244, 0.1)); /* Increased transparency */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    max-height: 100px;
  }

.bg-body-tertiary{
    margin-top: 1px;
}
.logonav {
  margin-left: -100px;
  width: 100px; /* Réduit la taille du logo */
  height: 100px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.logo-text {
    font-family: 'Poppins', sans-serif;  
    color: #03461b !important;
    font-size: 2rem;                      
    font-weight: 400;     
    letter-spacing: 0.05em;              
    text-transform: lowercase;            
}
  
  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .navbar-nav .nav-link {
    color: #03461b;
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #00b398;
  }
  .aya{
    color: #03461b !important;
  }

